 <div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
      <img class="card-img-top rounded-circle w-75" src="https://cdn.mos.cms.futurecdn.net/5FmFtc974AjN255w6iELLj.jpg" alt="Imagem de capa do card">
    </div>
  
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Grumpy cat</h5>
      <p class="card-text text-center text-monospace"> 🐈 Um gatíneo bravinho</p>
  
      <a href="https://www.instagram.com/realgrumpycat/?hl=pt-br" class="btn btn-outline-success mb-3 d-flex justify-content-center" target="_blank">instagram</a>
  
      <a href="https://www.facebook.com/TheOfficialGrumpyCat/" class="btn btn-outline-danger d-flex justify-content-center" target="_blank">facebook</a>
  
    </div>
  </div>
